<div class="container">
  <h1>Log in</h1>

  <%= form_tag sessions_path do %>
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </span><%= text_field_tag :email, params[:email], :placeholder => "Email", :class => "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </span><%= password_field_tag :password, params[:password], :placeholder => "Password", :class => "form-control"  %>
          </div>
        </div>
      </div>
    </div>

    <p class="button"><%= submit_tag "Log In", class: 'btn btn-primary' %></p>
  <% end %>
</div>
