<table>
    <tr class="user">
      <td><strong>User:</strong>
        <%= comment.user.user_name %>
      </td>
    </tr>

    <tr class="comment">
      <td><strong>Comment:</strong>
        <%= comment.body %>
      </td>
    </tr>
  <% if current_user %>
    <tr class="delete">
      <td><%= link_to "Delete", [comment.article, comment], method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
</table>
