<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= comment.user.user_name %>
      <small><%= comment.created_at.strftime("%B %d, %Y") %></small>

      <% if current_user && current_user.admin? %>
        <%= link_to "Delete", [comment.article, comment], method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-xs btn-danger" %>
      <% end %>
    </h4>
    <%= simple_format(comment.body) %>
    <hr align = "left" width="50%">
  </div>
</div>
