<% if current_user %>
  <%= form_for([@article, Comment.new]) do |f| %>
    <p>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% else %>
  You must log in to comment!
<% end %>
