<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>Edit article</h1>

      <%= render 'form' %>
      <hr>
      <%= link_to 'Home', articles_path, :class => "btn btn-sm btn-primary" %>
    </div>
    <%= render 'articles/sidebar' %>
  </div>
</div>
