<% if @articles.present? %>
  <%= render partial: 'articles/articles_list', locals: { articles: @articles } %>
<% elsif params[:search] %>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>No results for <i>"<%= params[:search] %>"</i></h4>
      </div>
      <%= render 'layouts/sidebar' %>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>No articles found</h4>
      </div>
      <%= render 'layouts/sidebar' %>
    </div>
  </div>
<% end %>
