<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div><b>User Name:</b> <%= @user.user_name %></div><br>
      <% if current_user.id == @user.id %>
        <div><strong>Change Password:</strong></div><br>
        <%= render 'form' %>
      <% end %>
    </div>
    <%= render 'layouts/sidebar' %>
  </div>
</div>
